<div class='details' id="<%= dom_id warranty_card %>">
<div><strong>Support Contact:</strong> <%= warranty_card.contact %></div>
<div><strong>Expiration Date:</strong> <%= warranty_card.expiration.strftime('%b %m, %Y') if warranty_card.expiration %></div>
<div><strong>Lifetime Warranty?</strong> <%= warranty_card.lifetime %></div>
<div><strong>Notes:</strong> <%= warranty_card.notes %></div>
</div>
