<p style="color: green"><%= notice %></p>

<%= render @warranty_card %>

<div>
  <%= link_to "Edit this warranty card", edit_warranty_card_path(@warranty_card) %> |
  <%= link_to "Back to warranty cards", warranty_cards_path %>

  <%= button_to "Destroy this warranty card", @warranty_card, method: :delete %>
</div>
