<div class='form'>
<h2>Log in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="check">
      <%= f.label :remember_me %>
      <%= f.check_box :remember_me %>
    </div>
  <% end %>

  <div class="submit actions">
    <%= f.submit "Log In" %>
  </div>
<% end %>

<div class='loginlinks'>
<%= render "devise/shared/links" %>
</div>
</div>

