<%= form_with(model: item) do |f| %>

  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :brand %><br />
    <%= f.text_field :brand, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :year %><br />
    <%= f.date_field :year, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :serial %><br />
    <%= f.text_field :serial, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :photo %><br />
    <%= f.file_field :photo, direct_upload: true %>
  </div>

  <h3>Room Name</h3>
  <div class="room-items-exist" data-controller='remover'>
  <%= f.fields_for :room_items do | room_item |%>
    <%= render 'room_item_fields', f: room_item %>
  <% end %>
  
  </div>
  
  <div class="room-items-new" data-controller='remover'>
  <%= f.fields_for :room_items do | room_item |%>
    <%= render 'new_room_item_fields', f: room_item %>
  <% end %>
  </div>

  <%= link_to_add_association "Add Existing Room", f, :room_items, data: {association_insertion_node: '.room-items-exist', association_insertion_method: :append} %><br>
  <%= link_to_add_association "Add a New Room", f, :room_items, partial: 'new_room_item_fields', data: {association_insertion_node: '.room-items-new',
   association_insertion_method: :append}, wrap_object: Proc.new { |room_item| room_item.build_room; room_item } %>
  

  <h3>Warranty Info</h3>
  <%= f.fields_for :warranty_cards do | warranty_form |%>
    <div class='field'>
      <%= warranty_form.label :code %>
      <%= warranty_form.text_field :code %>
    </div>
    <div class='field'>
      <%= warranty_form.label :contact %>
      <%= warranty_form.text_field :contact %>
    </div>
    <div class='field'>
      <%= warranty_form.label :expiration %>
      <%= warranty_form.date_field :expiration %>
    </div>
    <div class='field'>
      <%= warranty_form.label :lifetime, "Lifetime Warranty?"%>
      <%= warranty_form.check_box :lifetime %>
    </div>
    <div class='field'>
      <%= warranty_form.label :notes %>
      <%= warranty_form.text_field :notes %>
    </div>
  <% end %>

  <div>
    <%= f.submit %>
  </div>
<% end %>