<%= form_with(model: item) do |f| %>

  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :brand %><br />
    <%= f.text_field :brand, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :year %><br />
    <%= f.date_field :year, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :serial %><br />
    <%= f.text_field :serial, autofocus: true %>
  </div>

  <h3>Room Name</h3>
  <%= f.fields_for :room_items do | sub_form |%>
    <%= sub_form.fields_for :room do |room_form| %>
      <%= room_form.label :name %>
      <%= room_form.text_field :name %>      
      <%= room_form.hidden_field :user_id, :value => current_user.id %>
    <% end %>
  <% end %>

  <h3>Warranty Info</h3>
  <%= f.fields_for :warranty_cards do | warranty_form |%>
    <div class='field'>
      <%= warranty_form.label :code %>
      <%= warranty_form.text_field :code %>
    </div>
    <div class='field'>
      <%= warranty_form.label :contact %>
      <%= warranty_form.text_field :contact %>
    </div>
    <div class='field'>
      <%= warranty_form.label :expiration %>
      <%= warranty_form.date_field :expiration %>
    </div>
    <div class='field'>
      <%= warranty_form.label :lifetime, "Lifetime Warranty?"%>
      <%= warranty_form.check_box :lifetime %>
    </div>
    <div class='field'>
      <%= warranty_form.label :notes %>
      <%= warranty_form.text_field :notes %>
    </div>
  <% end %>

  <div>
    <%= f.hidden_field :user_id %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
