<div id="<%= dom_id item %>">
Item: <%= item.name %><br>
Brand: <%= item.brand %><br>
Year Purchased: <%= item.year.strftime('%Y') %><br>
Serial Number: <%= item.serial %><br>
Rooms: <% item&.rooms.each do |item| %>
    <%= item&.name %>
    <%end%><br>
<% if item.photo.attached? %><%= image_tag url_for(item.photo), :style=>"width:200px;height:auto" %><%end%>
<% if !item.warranty_cards.first.expiration && !item.warranty_cards.first.lifetime %><p>THIS ITEM HAS BLANK WARRANTY EXPIRATION DATA</p><%end%>


<summary>
Warranty details
<details>
<%= render item.warranty_cards %>

</details>
</summary>

</div>
