<div class='itemlisting' id="<%= dom_id item %>">

<div class='details'>
    <div><strong>Item:</strong> <%= item.name %></div>
    <div><strong>Brand:</strong> <%= item.brand %></div>
    <div><strong>Year Purchased:</strong> <%= item.year.strftime('%Y') %></div>
    <div><strong>Serial Number:</strong> <%= item.serial %></div>
    <div><strong>Rooms:</strong> <% item&.rooms.each_with_index do |info, i| %>
        <%= info&.name %><% if i != item&.rooms.length - 1 %><%= ", "%><%end%>
        <%end%></div>
<%= link_to "View Item", item %>
</div>

<div class='photo'>
    <% if item.photo.attached? %><%= image_tag url_for(item.photo), :style=>"width:200px;height:auto" %><%end%>
</div>


<div class='warrantyinfo'>
    <% if !item.warranty_cards.first.expiration && !item.warranty_cards.first.lifetime %>
    <p>MISSING WARRANTY EXPIRATION DATA</p>
    <%= link_to "Edit this item", edit_item_path(item) %>
    <%else%>
    <%= render item.warranty_cards %>
    <%end%>
    
</div>

</div>
